* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 100ms;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    padding: 0px;
}

input,
textarea,
button {
    border: none;
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
    padding: 0;
}

.PreLoader {
    width: 500px;
    height: 500px;
    background-color: #000;
}
