:root {
    --font-size: 22px;

    --black-color: #101113;
    --black-transparent: #101113b2;

    --white-color: #ebebeb;
    --white-transparent: #ebebebb2;

    --blue-color: blue;

    --transparent-color: transparent;
    --border-radius: 18px;
    --border-radius-small: 8px;

    --blur-big: blur(100px);
    --blur-small: blur(8px);
}
