.Introduction-list {
    li {
        &:first-child {
            position: relative;
            z-index: 0;
            img {
                max-height: 900px;
                width: 100%;
                object-fit: cover;
                filter: var(--blur-big);
            }
        }
    }
}

.Introduction-list__item {
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}

.Introduction-list__title {
    margin: 7% 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
        section {
            color: var(--black-color);
            padding: 20px;
            border-radius: var(--border-radius);
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                font-size: 950%;
            }
            div {
                display: flex;
                margin: 3% 0px;
                a {
                    cursor: pointer;
                    border-radius: var(--border-radius-small);
                    padding: 15px 20px;
                    font-weight: bold;
                    background-color: var(--black-color);
                    color: var(--white-color);
                    backdrop-filter: var(--blur);
                    font-size: 30px;
                    &:first-child {
                        margin-right: 25px;
                    }
                    &:last-child {
                        margin-left: 25px;
                    }
                    &:hover {
                        background-color: var(--blue-color);
                        transform: scale(1.1);
                    }

                    &:last-child::after {
                        content: " >";
                    }
                }
            }
        }
    }
}
