.Header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--black-color);

    nav {
        padding: 20px var(--site-main-indent-r) 20px var(--site-main-indent-l);
    }
}

.Header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header-list__menu {
    align-items: center;
    display: flex;
}

.Logo {
    font-size: var(--font-size);
    color: var(--white-color);
    background-color: var(--blue-color);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: var(--border-radius-small);
    padding: 5px 10px;
}

.Menu-list {
    display: flex;
    li {
        margin-right: 10px;
        &:last-child {
            margin-right: 0px;
        }
        a {
            @include Button;
        }
    }
}

.Localization-buttons {
    background-color: var(--white-color);
    margin-left: 40px;
    border-radius: var(--border-radius-small);
    padding: 5px;
    button {
        padding: 10px;
        background-color: var(--transparent);
        font-size: 20px;
        margin-right: 5px;
        font-weight: bold;
        cursor: pointer;
        border-radius: var(--border-radius-small);
        &:last-child {
            margin-right: 0px;
        }
        &:hover {
            background-color: var(--black-color);
            color: var(--white-color);
            border-radius: var(--border-radius-small);
        }
    }
}
